header {
    background-color: rgb(47, 0, 255);
    padding: 20px;
    margin: 20px;
}
body {
    background-color: rgb(43, 49, 53);
}
li {
    display: inline;
    margin: 0 0 0 30px;
    display: inline-block;
    text-align: center;
    width: 60px 0;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 50px 0px;
    box-sizing: border-box;
    border-radius: 20px;

    text-transform: uppercase;
    text-decoration: underline;
}
li:hover {
    border-color: chartreuse;
}
